@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

body {
    background-color: rgba(223, 228, 234, 1.0) !important;
}

.brand-name {
    font-family: 'Monoton', cursive;
    color: #ffffff;
}

.dashboard-section {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.left-sidebar {
    width: 20%;
    height: 100vh;
    background-color: var(--url-shortner-primary-color);
}

.right-sidebar {
    height: 100vh;
    width: 80%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

li {
    float: right;
}

li a {
    display: block;
    color: #57606f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    text-decoration: none;
    color: #111;
}

.total-pannel-stats .row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
